<ion-content scroll-y="false">
  <div class="register-wrapper">
    
    <div class="header-section">
      <div class="logo-wrapper">
        <img src="assets/icon/logo-bagels.png" alt="Bagels Only Logo" class="main-logo" />
      </div>
      <h2>Bienvenido al siguiente nivel del tenis local</h2>
      <p>Eleva tu juego</p>
    </div>

    <div class="form-card">
      <ion-item lines="none">
        <ion-input 
          label="Nombre del Jugador" 
          labelPlacement="stacked" 
          type="text" 
          placeholder="Ej. Carlos Alcaraz" 
          [(ngModel)]="nuevoUsuario.nombre">
        </ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-input 
          label="Email" 
          labelPlacement="stacked" 
          type="email" 
          placeholder="tu@email.com" 
          [(ngModel)]="nuevoUsuario.email">
        </ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-input 
          label="Contraseña" 
          labelPlacement="stacked" 
          [type]="verClave ? 'text' : 'password'" 
          placeholder="Mínimo 6 caracteres" 
          [(ngModel)]="nuevoUsuario.password">
          
          <ion-button fill="clear" slot="end" (click)="toggleVerClave()" class="eye-button">
            <ion-icon [name]="verClave ? 'eye-off-outline' : 'eye-outline'" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-input>
      </ion-item>

      <ion-button expand="block" (click)="registrar()" class="register-button">
        Crear Cuenta
      </ion-button>
    </div>

    <ion-button expand="block" fill="clear" class="footer-button" routerLink="/login">
      ¿Ya tienes cuenta? <strong>Inicia sesión</strong>
    </ion-button>

  </div>
</ion-content>