// Forzamos al título a comportarse como un contenedor flexible
ion-title {
  display: flex !important;
  align-items: center;
  width: 100%;
  padding: 0; // Quitamos paddings que empujan el texto afuera
}

.header-content {
  display: flex;
  align-items: center;
  flex-direction: row; // Asegura que estén uno al lado del otro
  width: 100%;

  .logo-wrapper {
  display: flex;
  align-items: center;
  margin-left: 8px; // Espacio entre el botón de menú y el logo
}

.header-logo {
  height: 30px;
  width: auto;
}

  .brand-text {
    font-weight: 800;
    font-size: 1.1rem;   // Bajamos un poco el tamaño para que quepa todo
    white-space: nowrap; // Evita que el texto se vaya a dos renglones
    color: #000;
    display: inline-block;
  }
}

ion-tab-button.tab-selected {
  --color-selected: #d4e157; // Color verde tenis
  ion-icon {
    transform: scale(1.1); // Hace el icono un poco más grande cuando se selecciona
  }
}