<ion-content [fullscreen]="true" class="ion-padding" *ngIf="perfil$ | async as perfil">
  
  <ion-card class="main-card">
    <ion-card-header>
      <ion-badge color="tertiary" mode="ios">Nivel {{ perfil.nivel }}</ion-badge>
      <ion-card-title class="ion-margin-top">{{ perfil.nombre }}</ion-card-title>
      <ion-card-subtitle>Tenista Amateur</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p class="ion-margin-bottom">Progreso para el siguiente nivel:</p>
      <ion-progress-bar color="success" [value]="perfil.xp / 1000"></ion-progress-bar>
      <p class="ion-text-right small-text">{{ perfil.xp }} / 1000 XP</p>
    </ion-card-content>
  </ion-card>

  <div class="ion-padding-vertical">
    <h4 class="section-title">Estadísticas de Carrera</h4>
    <ion-list lines="none" class="stats-list">
      <ion-item>
        <ion-label>
          <h2>{{ perfil.record.ganados }} - {{ perfil.record.perdidos }}</h2>
          <p>Récord G/P</p>
        </ion-label>
      </ion-item>
      
      <ion-item color="light" class="bagel-stat">
        <ion-label>
          <h2 style="color: var(--ion-color-danger);">🥯 {{ perfil.bagelsEntregados }}</h2>
          <p>Bagels Entregados (6-0)</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <ion-button expand="block" color="secondary" shape="round" class="ion-margin-top">
    Buscar Oponente Cercano
  </ion-button>

<ion-button expand="block" color="danger" (click)="salir()">
  Cerrar Sesión
</ion-button>

</ion-content>