.empty-feed-container {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;

  .main-icon {
    font-size: 120px;
    color: var(--ion-color-medium);
    opacity: 0.5;
  }

  h1 {
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 20px;
  }

  p {
    color: var(--ion-color-step-600);
    padding: 0 20px;
  }
}

.feature-item {
  --background: var(--ion-color-light);
  margin-bottom: 10px;
  border-radius: 12px;
  
  ion-icon {
    font-size: 24px;
  }
}