<ion-content scroll-y="false">
  <div class="login-wrapper">
    
    <div class="logo-section">
      <div class="logo-wrapper">
        <img src="assets/icon/logo-bagels.png" alt="Bagels Only Logo" class="main-logo" />
      </div>
      <h2>Bagels Only</h2>
      <p style="color: #666; font-weight: 600;">GG's Only...</p>
    </div>

    <div class="form-card">
      <ion-item lines="none">
        <ion-input 
          label="Email" 
          labelPlacement="stacked" 
          type="email" 
          placeholder="nadal@tenis.com" 
          [(ngModel)]="correo">
        </ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-input 
          label="Contraseña" 
          labelPlacement="stacked" 
          [type]="verClave ? 'text' : 'password'" 
          placeholder="••••••" 
          [(ngModel)]="clave">
          <ion-button fill="clear" slot="end" (click)="toggleVerClave()" class="eye-button">
            <ion-icon [name]="verClave ? 'eye-off-outline' : 'eye-outline'" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-input>
      </ion-item>

      <ion-button expand="block" (click)="entrar()" class="login-button">
        Entrar a la cancha
      </ion-button>
    </div>

    <ion-button expand="block" fill="clear" color="medium" routerLink="/registro" style="margin-top: 20px;">
      ¿Eres nuevo? <strong>Regístrate aquí</strong>
    </ion-button>

  </div>
</ion-content>