.profile-header {
  background: linear-gradient(to bottom, var(--ion-color-primary), var(--ion-color-primary-tint));
  color: white;
  
  .avatar-wrapper {
    position: relative;
    display: inline-block;
    
    .main-avatar {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      border: 4px solid white;
      object-fit: cover;
    }
    
    ion-button {
      position: absolute;
      bottom: 0;
      right: 0;
      --background: white;
      --border-radius: 50%;
      height: 40px;
      width: 40px;
    }
  }
}

.stat-card {
  text-align: center;
  padding: 15px 0;
  margin: 0;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  
  ion-card-title {
    font-size: 1.8rem;
    font-weight: bold;
  }
}
.user-name {
  color: #000000 !important;
  font-weight: 700;
}